/*------------------------------------*\
 # COLORS
\*------------------------------------*/

// base colors
$color-black:               #000 !default;
$color-blue:                #002e5b !default;
$color-indigo:              #3f51b5 !default;
$color-red:                 #ff0024 !default;
$color-yellow:              #ffeb3b !default;
$color-white:               #fff !default;

// semantic colors
$color-brand-primary:         $color-blue !default;
$color-brand-primary-inverse: $color-yellow !default;

$color-brand-secondary:       $color-indigo !default;

// links
$color-links:                 $color-indigo !default;
$color-links-hover:           $color-links !default;

// body
$color-body:                  $color-black !default;
$color-body-background:       $color-white !default;
