/*------------------------------------*\
 # GLOBAL
\*------------------------------------*/

// Spacing
$spacer: 1rem !default;

// Links
$link-color:            $brand-secondary !default;
$link-decoration:       underline !default;
$link-hover-color:      $link-color !default;
$link-hover-decoration: none !default;

// Fonts
$font-family-sans-serif: 'Source Sans Pro', sans-serif !default;
$font-family-base:       $font-family-sans-serif !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`

$font-weight-normal:  400 !default;
$font-weight-medium:  600 !default;
$font-weight-bold:    700 !default;
$font-weight-black:   900 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.25 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.25rem !default;

$headings-margin-bottom: $spacer !default;
$headings-font-weight:   $font-weight-medium !default;
