/*------------------------------------*\
 # HEADINGS
\*------------------------------------*/

h1 {
  font-size: $h1-size;
  font-weight: $h1-weight;
  margin-bottom: $h1-margin-bottom;
}

h2 {
  font-size: $h2-size;
  font-weight: $h2-weight;
  margin-bottom: $h2-margin-bottom;
}

h3 {
  font-size: $h3-size;
  font-weight: $h3-weight;
  margin-bottom: $h3-margin-bottom;
}
