/*------------------------------------*\
 # VISIBILITY
\*------------------------------------*/

@mixin invisible {
  visibility: hidden !important;
}

@mixin visible {
  visibility: visible !important;
}
