/*------------------------------------*\
 # BAND
\*------------------------------------*/

.c-band {
  display: block;
  padding: 10%;
  position: relative;
}

@media screen and (min-width: 64em) {
  .c-band {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.c-band--inverse {
  background-color: $color-brand-primary-inverse;
}

.c-band--tint {
  background-color: rgba(0, 0, 0, .04);
}
