<div class="c-page-left u-flex-1/2">
  <section aria-labelledby="welcome-headline" class="c-band">
    <h1 class="o-headline" id="welcome-headline">Hello, I'm Julian Dawson.</h1>
    <p class="c-page-left__text">I’m an IT Management Consultant, Architect and Developer in South West England.</p>
  </section>
  <footer class="[ c-social c-social--large ] c-page-left__social">
    <ul class="o-list-inline">
      <li class="o-list-inline__item" >
        <a aria-label="GitHub" class="c-social__link" target="_blank" href="https://github.com/juliandawson">
          <svg aria-hidden="true" class="c-social__icon" role="img">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="o-list-inline__item">
        <a aria-label="Twitter" class="c-social__link" target="_blank" href="https://twitter.com/julianoutloud">
          <svg aria-hidden="true" class="c-social__icon" role="img">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="o-list-inline__item">
        <a aria-label="Linkedin" class="c-social__link" target="_blank" href="https://www.linkedin.com/in/jmdawson/">
          <svg aria-hidden="true" class="c-social__icon" role="img">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use>
          </svg>
        </a>
      </li>
      <li class="o-list-inline__item">
        <a aria-label="Behance" class="c-social__link" target="_blank" href="https://www.behance.net/juliandawson">
          <svg aria-hidden="true" class="c-social__icon" role="img">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-behance"></use>
          </svg>
        </a>
      </li>
    </ul>
  </footer>
</div>

<div class="c-page-right u-flex-1/2">
  <section aria-labelledby="intro-headline" class="[ c-band c-band--highlight ]">
    <h2 class="o-headline" id="intro-headline">Introduction</h2>
    <p class="c-text-ui">I work with small and middle-market enterprises in consulting engagements focused on IT Service Management, Enterprise
      and Solution Architecture, Information Security, and IT Project Delivery. I'm a big fan of ITIL, CMMI, ISO, TOGAF and
      SCRUM. </p>
    <p class="c-text-ui">I also write code in HTML5, CSS3, PHP, TypeScript and JavaScript. I build apps with SQL and NoSQL databases and use front-end
      frameworks like Angular and React.</p>
    <p>Fancy a chat over coffee? Get in touch! <a href="mailto:coffee@juliandawson.co.uk">coffee@juliandawson.co.uk</a></p>
  </section>

  <jobs></jobs>

  <projects></projects>

  <footer class="[ c-band c-band--highlight ]">
    <p>&copy; Julian Dawson. Made with
      <svg aria-label="Heart" class="c-heart" role="img">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-heart"></use>
      </svg>
      in Bath.</p>
  </footer>
</div>
